<nb-layout>
  <nb-layout-header>
    <a routerLink="/welcome">
      <img src="/assets/images/logo.png" alt="logo" width="50px">
    </a>
  </nb-layout-header>
  <nb-layout-column class="background">
    <div class="overlay">
      <div action="/login" class="mx-auto d-flex flex-column justify-content-center h-100" style="width:300px">
        <h2 class="text-center font-italic" >LOGIN</h2>
        <input type="text" name="email" nbInput fullWidth status="basic" placeholder="CORPORATE EMAIL ID">
        <input type="password" name="password" class="mt-2" nbInput fullWidth placeholder="PASSWORD">
        <button type="submit" nbButton style="background-color: #828282 !important;
        color: white !important;" class="mt-2">LOGIN</button>
        <button type="submit" routerLink="/signup" nbButton class="mt-2" style="background-color: #69E039 !important;
        color: white !important;">SIGNUP</button>
      </div>
    </div>
    <!-- #A30F29
    #69E039 -->
  </nb-layout-column>
</nb-layout>
