<nb-layout>
  <nb-layout-header>
    <a routerLink="/welcome">
      <img src="/assets/images/logo.png" alt="logo" width="50px" />
    </a>
  </nb-layout-header>
  <nb-layout-column class="background">
    <div
      class="overlay d-flex flex-column justify-content-center h-100 align-items-center overflow-scroll"
    >
      <!-- The [formGroup] is a property of form tag in angular world
      Since, I am using reactive programming. I have to specify which form to bind to.
      i.e signupForm which i specified in the signup.component.ts file -->
      <span
        *ngIf="
          signupForm.status === 'INVALID' &&
          signupForm.touched &&
          signupForm.get('name').touched &&
          signupForm.get('email').touched &&
          signupForm.get('password').touched &&
          signupForm.get('confirm_password').touched
        "
        class="alert alert-danger w-50 text-center mt-2"
      >
        Please fill all the required details
      </span>
      <span class="alert-danger alert" *ngIf="error">{{ error }}</span>
      <form
        [formGroup]="signupForm"
        (ngSubmit)="onSignUpSubmit()"
        class="mx-auto"
        style="width: 300px"
      >
        <h2 class="text-center font-italic" style="color: #69e039">
          CREATE ACCOUNT
        </h2>
        <input
          type="text"
          name="name"
          nbInput
          fullWidth
          status="basic"
          placeholder="YOUR NAME"
          formControlName="name"
        />
        <span
          *ngIf="
            signupForm.get('name').invalid && signupForm.get('name').touched
          "
          class="text-left text-danger w-100 ml-2"
          >Name is required</span
        >
        <input
          type="text"
          name="email"
          class="mt-2"
          nbInput
          fullWidth
          status="basic"
          placeholder="CORPORATE EMAIL ID"
          formControlName="email"
        />
        <span
          *ngIf="
            signupForm.get('email').invalid && signupForm.get('email').touched
          "
          class="text-left text-danger w-100 ml-2"
          >Email is required</span
        >
        <input
          type="password"
          name="password"
          class="mt-2"
          nbInput
          fullWidth
          status="basic"
          placeholder="PASSWORD"
          formControlName="password"
        />
        <span
          *ngIf="
            signupForm.get('password').invalid &&
            signupForm.get('password').touched
          "
          class="text-left text-danger w-100 ml-2"
          >Password is required (min length: 6)</span
        >
        <span *ngIf="!passwordMatch && signupForm.get('password').valid &&
        signupForm.get('password').touched && signupForm.get('confirm_password').touched" class="text-danger ml-2">Password is not equal to Confirm password</span>
        <input
          type="password"
          name="confirm_password"
          class="mt-2"
          nbInput
          fullWidth
          status="basic"
          placeholder="CONFIRM PASSWORD"
          formControlName="confirm_password"
        />
        <!-- TODO: password matching logic to be added -->
        <span
          *ngIf="
            signupForm.get('confirm_password').invalid &&
            signupForm.get('confirm_password').touched
          "
          class="text-left text-danger w-100 ml-2"
          >Confirm the password</span
        >
        <input
          type="text"
          name="organization"
          class="mt-2"
          nbInput
          fullWidth
          status="basic"
          placeholder="ORGANIZATION"
          formControlName="organization"
        />
        <input
          type="text"
          name="city"
          class="mt-2"
          nbInput
          fullWidth
          status="basic"
          placeholder="CITY"
          formControlName="city"
        />
        <button
          type="submit"
          nbButton
          class="mt-2 w-100 text-white"
          [ngStyle]="{
            'background-color': signupForm.invalid ? 'grey' : '#69E039'
          }"
          [disabled]="signupForm.invalid"
        >
          SIGNUP
        </button>
        <button
          type="button"
          routerLink="/login"
          nbButton
          class="mt-2 w-100"
          style="background-color: #69e039 !important; color: white !important"
        >
          LOGIN
        </button>
      </form>
    </div>
  </nb-layout-column>
</nb-layout>
