* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'themes';
@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

.background {
  background-image: url('/assets/images/background.jpg');
  position: relative;
}

.overlay {
  background-color: rgb(229, 229, 229, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.redish-color {
  background-color: #A30F29 !important; 
  color: white !important;
}

.greenish-color {
  background-color: #69E039 !important; 
  color: white !important;
}
/* You can add global styles to this file, and also import other style files */